<p>Access Granted.</p>
{{#if (eq @guest.grant.mode 'LINK')}}
    <User::Granted::Link @guest={{@guest}}/>
{{else}}
    <User::Granted::Text @guest={{@guest}}/>
{{/if}}
<details>
    <summary>Chat History</summary>
    <Messages  @allowNewMessages={{false}} @getMessagesFromBackend={{true}}/>
</details>

